# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
air_bnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [16]:
# How many neighborhood groups are available and which shows up the most?
n_groups = air_bnb.groupby(by=['neighbourhood_group'], as_index=True).count()
n_groups.sort_values(by=['id'], ascending=False)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,,,,,,
Manhattan,21661,21652,21661,21652,21661,21661,21661,21661,21661,21661,21661,16632,16632,21661,21661
Brooklyn,20104,20098,20104,20095,20104,20104,20104,20104,20104,20104,20104,16447,16447,20104,20104
Queens,5666,5666,5666,5664,5666,5666,5666,5666,5666,5666,5666,4574,4574,5666,5666
Bronx,1091,1090,1091,1090,1091,1091,1091,1091,1091,1091,1091,876,876,1091,1091
Staten Island,373,373,373,373,373,373,373,373,373,373,373,314,314,373,373

In [39]:
# Are private rooms the most popular in manhattan?
manhat_priv = air_bnb[['neighbourhood_group', 'room_type']]
manhat_priv = manhat_priv.groupby(['neighbourhood_group', 'room_type']).size().sort_values(ascending=False)
print(manhat_priv.filter(like='Private room', axis=0))
print('\nBrooklyn has the most private rooms in the area.')

neighbourhood_group  room_type
Brooklyn             Private room    10132
Manhattan            Private room     7982
Queens               Private room     3372
Bronx                Private room      652
Staten Island        Private room      188
dtype: int64

Brooklyn has the most private rooms in the area.

In [54]:
# Which hosts are the busiest and based on their reviews?
max_reviews = air_bnb.groupby(['host_id']).count()
max_reviews = max_reviews.sort_values(by=['number_of_reviews'], ascending=False)
print(max_reviews['number_of_reviews'].head(5))

host_id
219517861    327
107434423    232
30283594     121
137358866    103
16098958      96
Name: number_of_reviews, dtype: int64
Host

In [83]:
#Which neighorhood group has the highest average price?
avg_price = air_bnb[['neighbourhood_group', 'price']]
avg_price = avg_price.groupby(['neighbourhood_group']).mean()
# avg_price.sort_values(by=['mean'], ascending=False)
print(avg_price.sort_values(by=['price'], ascending=False).head(1))

                          price
neighbourhood_group
Manhattan            196.875814

In [93]:
# Which neighbor hood group has the highest total price?
total_price = air_bnb[['neighbourhood_group', 'price']]
print(total_price.groupby(['neighbourhood_group']).sum().sort_values(by=['price'], ascending=False).head(1))

                       price
neighbourhood_group
Manhattan            4264527

In [100]:
#Which top 5 hosts have the highest total price?
top_prices = air_bnb[['host_id', 'price']]
print(top_prices.groupby(['host_id']).sum().sort_values(by=['price'], ascending=False).head(5))

           price
host_id
219517861  82795
107434423  70331
156158778  37097
205031545  35294
30283594   33581

In [119]:
# Who currently has no (zero) availability with a review count of 100 or more?
avail_bnb = air_bnb[['host_id', 'number_of_reviews', 'availability_365']]
avail_bnb = avail_bnb.loc[(avail_bnb['availability_365']==0)&(avail_bnb['number_of_reviews']>=100)]
print(avail_bnb.sort_values(by=['number_of_reviews'], ascending=False))
print('\n All 162 of these hosts fit the description')

         host_id  number_of_reviews  availability_365
471       792159                480                 0
9974    22959695                424                 0
9976    22959695                408                 0
22104  121391142                368                 0
5876    21641206                351                 0
...          ...                ...               ...
19377   26073602                101                 0
12375   22423049                100                 0
16190   42399786                100                 0
19459   96148809                100                 0
18230   84141923                100                 0

[162 rows x 3 columns]

 All 162 of these hosts fit the description

In [139]:
# What host has the highest total of prices and where are they located?
total_price_location = air_bnb[['host_id', 'price', 'neighbourhood_group']]
total_price_location.groupby(['host_id'], as_index=True).sum().sort_values(by=['price'], ascending=False)
air_bnb.loc[(air_bnb['host_id']==219517861)].groupby(['neighbourhood_group']).count()
print('Host: 219517861 holds the max for highest total cost in the Manhattan area')

Host: 219517861 holds the max for highest total cost in the Manhattan area

In [144]:
# When did Danielle from Queens last receive a review?
dan_queen = air_bnb.loc[(air_bnb['host_name']=='Danielle') & (air_bnb['neighbourhood_group']=='Queens')]
dan_queen = dan_queen.sort_values(by=['last_review'], ascending=False)
dan_queen[['host_name', 'last_review']].head(1)

      host_name last_review
22469  Danielle  2019-07-08

## Further Questions

1. Which host has the most listings?

In [153]:
max_list = air_bnb[['host_id', 'id']].groupby(['host_id']).count().sort_values(by=['id'], ascending=False).head(1)
print(max_list)

            id
host_id
219517861  327

2. How many listings have completely open availability?

In [162]:
open_aval = air_bnb.loc[(air_bnb['availability_365']==365)]
print(open_aval[['id']].count())
print('\nThere are 1295 listings with open availability')

id    1295
dtype: int64

There are 1295 listings with open availability

3. What room_types have the highest review numbers?

In [170]:
high_numbers = air_bnb[['room_type', 'number_of_reviews']].groupby(['room_type']).count()
print(high_numbers)
print('\n Entire homes and apartments have the highest total')

                 number_of_reviews
room_type
Entire home/apt              25409
Private room                 22326
Shared room                   1160

 Entire homes and apartments have the highest total

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

There is definitely a large corperation hogging a LARGE amount of places for no reason. It's basically people using airbnb to use their rental houses for the profit that definitely out weighs renting income. Gross.